# PlatformIO build directory
.pio/

# VS Code settings
.vscode/

# Compiled binaries and temporary files
*.elf
*.bin
*.hex
*.map

# Operating system files
.DS_Store
Thumbs.db

# Release artifacts
releases/   git

env.h

# Docker runtime data
mariadb_data/
mosquitto/data/
mosquitto/log/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

#docker .gitignore

# === Docker ===
/docker/*.log
/docker/*.pid
/docker/*.sock
/docker/mariadb_data/
/docker/mosquitto/data/
/docker/mosquitto/log/
/docker/mariadb_data/
/docker/bridge/__pycache__/
/docker/bridge/*.pyc
