# PlatformIO build directory
.pio/

# VS Code settings
.vscode/

# Compiled binaries and temporary files
*.elf
*.bin
*.hex
*.map

# Operating system files
.DS_Store
Thumbs.db

# Release artifacts
releases/   git

env.h

# Docker runtime data
mariadb_data/
mosquitto/data/
mosquitto/log/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

#docker .gitignore

# === Docker ===
/docker/*.log
/docker/*.pid
/docker/*.sock
/docker/mariadb_data/
/docker/mosquitto/data/
/docker/mosquitto/log/
/docker/mariadb_data/
/docker/bridge/__pycache__/
/docker/bridge/*.pyc

# Laravel .gitignore

# === Log & Cache Files ===
*.log
/docker/laravel/storage/logs/*
/docker/laravel/bootstrap/cache/*.php

# === Environment Files ===
.env
.env.*
.env.backup
.env.production

# === System & Editor Files ===
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# === Framework & Dependencies ===
/docker/laravel/vendor/
/docker/laravel/node_modules/
/docker/laravel/auth.json

# === Laravel Specific ===
/docker/laravel/public/storage
/docker/laravel/public/build
/docker/laravel/public/hot
/docker/laravel/storage/*.key
/docker/laravel/storage/pail
/docker/laravelHomestead.json
/docker/laravelHomestead.yaml

# === Nova (optional) ===
/docker/laravel/.nova

# === Package Manager Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Laravel build and dependencies
/docker/laravel/vendor/
/docker/laravel/node_modules/
/docker/laravel/bootstrap/cache/
/docker/laravel/storage/logs/